:host {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
}

mat-card {
  margin: 100px 0px;
  max-width: 400px;
  background-color: #E3E9F1;

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;

    form {
      .mat-form-field {
        width: 100%;
        min-width: 300px;
      }

      .error {
        padding: 16px;
        width: 300px;
        color: white;
        background-color: red;
      }

      .button {
        display: flex;
        width: 22%;
	      height: 40px;
	      margin: 10px auto;
	      justify-content: center;
	      display: block;
	      color: #fff;
	      background: #7989FF;
	      font-size: 3em;
      	font-weight: bold;
	      margin-top: 20px;
	      outline: none;
      	border: none;
      	border-radius: 5px;
	      transition: .2s ease-in;
      	cursor: pointer;
      }
    }
  }
}
