
<div style="background: linear-gradient(#B3F6FC , #256EEE) no-repeat 0 0 / cover; height: 100%; width: 100%;">
<div class="col-md-12" >
	<div class="card card-container">
		<img src="assets/img/login.png" style="width: 200px; height: 200px;" class="profile-img-card">
		
		<form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
			<div class="form-group">
				<label for="name">Display Name</label>
				 <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required minlength="3" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">Display Name is required</div>
					<div *ngIf="displayName.errors.minlength">Display Name must be at least 3 characters</div>
					<div *ngIf="displayName.errors.maxlength">Display Name must be at most 20 characters</div>
				</div>
			</div>
			<div class="form-group">
				<label for="email">Email</label> <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && email.invalid">
					<div *ngIf="email.errors.required">Email is required</div>
					<div *ngIf="email.errors.email">Email must be a valid email address</div>
				</div>
			</div>
			<div class="form-group">
				<label for="username">User name</label>
				 <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">User name is required</div>
					<div *ngIf="displayName.errors.minlength">User name must be at least 3 characters</div>
					<div *ngIf="displayName.errors.maxlength">User name must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password">Password</label> <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
					#password="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && password.invalid">
					<div *ngIf="password.errors.required">Password is required</div>
					<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
				</div>
			</div>
			<div class="form-group">
				<label for="matchingPassword">Confirm Password</label> <input type="password" class="form-control" name="matchingPassword" [(ngModel)]="form.matchingPassword"
					required minlength="6" #matchingPassword="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && matchingPassword.invalid">
					<div *ngIf="matchingPassword.errors.required">Confirm Password is required</div>
					<div *ngIf="matchingPassword.errors.minlength">Confirm Password must be at least 6 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="department">department</label>
				 <input type="text" class="form-control" name="department" [(ngModel)]="form.department" required minlength="1" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">department  is required</div>
					<div *ngIf="displayName.errors.minlength">department  must be at least 1 characters</div>
					<div *ngIf="displayName.errors.maxlength">department  must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="jobTitle">jobTitle</label>
				 <input type="text" class="form-control" name="jobTitle" [(ngModel)]="form.jobTitle" required minlength="1" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">jobTitle is required</div>
					<div *ngIf="displayName.errors.minlength">jobTitle must be at least 1 characters</div>
					<div *ngIf="displayName.errors.maxlength">jobTitle must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="phone">phone</label>
				 <input type="text" class="form-control" name="phone" [(ngModel)]="form.phone" required minlength="1" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">jobTitle is required</div>
					<div *ngIf="displayName.errors.minlength">jobTitle must be at least 1 characters</div>
					<div *ngIf="displayName.errors.maxlength">jobTitle must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="imageUrl">imageUrl</label>
				 <input type="text" class="form-control" name="imageUrl" [(ngModel)]="form.imageUrl" required  #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">jobTitle is required</div>
					<div *ngIf="displayName.errors.minlength">jobTitle must be at least 1 characters</div>
					<div *ngIf="displayName.errors.maxlength">jobTitle must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" name="using2FA" [(ngModel)]="form.using2FA" #using2FA="ngModel" /><label class="form-check-label" for="using2FA">Use
					Two Step Verification</label>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block">Sign Up</button>
			</div>
			<div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
				Signup failed!<br />{{ errorMessage }}
			</div>
		</form>
		<div class="alert alert-success" *ngIf="isSuccessful">
			Your registration is successful!
			<div *ngIf="isUsing2FA">
				<p>Scan this QR code using Google Authenticator app on your phone to use it later to login</p>
				<img src="{{qrCodeImage}}" class="img-fluid" />
			</div>
		</div>
	</div>
</div>
</div>