
<div class="full w-full dark:bg-darkModecolors-42">
	
<div class="w-auto p-3  mx-auto max-w-4xl " >
	<div class="card dark:bg-darkModecolors-59 card-container mx-auto rounded overflow-hidden shadow-lg">
		<div>
			<a (click)="loginPage()" routerLink="register" class="text-vuejs-198 dark:text-darkModecolors-252 ml-3">login</a>
		</div>
		<img src="assets/img/logo1.png" class="h-40 mx-auto">
		<mat-card-title class="font-bold text-3xl text-center text-vuejs-183 dark:text-white">REGISTER</mat-card-title>
		<form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="p-3">
		<div class="grid grid-cols-2 gap-3">
			<div class="form-group col-span-2">
				<label for="name" class="text-black dark:text-white">Name</label>
				 <input type="text" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="name" [(ngModel)]="form.name" required minlength="3" maxlength="50" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">Display Name is required</div>
					<div *ngIf="displayName.errors.minlength">Display Name must be at least 3 characters</div>
					<div *ngIf="displayName.errors.maxlength">Display Name must be at most 50 characters</div>
				</div>
			</div>
			<div class="form-group col-span-2">
				<label for="email" class="text-black dark:text-white">Email</label> 
				<input type="email" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && email.invalid">
					<div *ngIf="email.errors.required">Email is required</div>
					<div *ngIf="email.errors.email">Email must be a valid email address</div>
				</div>
			</div>
			<div class="form-group col-span-2">
				<label for="username" class="text-black dark:text-white">User name</label>
				 <input type="text" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">User name is required</div>
					<div *ngIf="displayName.errors.minlength">User name must be at least 3 characters</div>
					<div *ngIf="displayName.errors.maxlength">User name must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="text-black dark:text-white">Password</label> 
				<input type="password" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="password" [(ngModel)]="form.password" required minlength="6"
					#password="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && password.invalid">
					<div *ngIf="password.errors.required">Password is required</div>
					<div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
				</div>
			</div>
			<div class="form-group">
				<label for="matchingPassword" class="text-black dark:text-white">Confirm Password</label> 
				<input type="password" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="matchingPassword" [(ngModel)]="form.matchingPassword"
					required minlength="6" #matchingPassword="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && matchingPassword.invalid">
					<div *ngIf="matchingPassword.errors.required">Confirm Password is required</div>
					<div *ngIf="matchingPassword.errors.minlength">Confirm Password must be at least 6 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="department" class="text-black dark:text-white">department</label>
				 <input type="text" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="department" [(ngModel)]="form.department" required minlength="1" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">department  is required</div>
					<div *ngIf="displayName.errors.minlength">department  must be at least 1 characters</div>
					<div *ngIf="displayName.errors.maxlength">department  must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group">
				<label for="jobTitle" class="text-black dark:text-white">jobTitle</label>
				 <input type="text" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="jobTitle" [(ngModel)]="form.jobTitle" required minlength="1" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">jobTitle is required</div>
					<div *ngIf="displayName.errors.minlength">jobTitle must be at least 1 characters</div>
					<div *ngIf="displayName.errors.maxlength">jobTitle must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group col-span-2">
				<label for="phone" class="text-black dark:text-white">phone</label>
				 <input type="text" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="phone" [(ngModel)]="form.phone" required minlength="1" maxlength="20" #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">jobTitle is required</div>
					<div *ngIf="displayName.errors.minlength">jobTitle must be at least 1 characters</div>
					<div *ngIf="displayName.errors.maxlength">jobTitle must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group col-span-2">
				<label for="imageUrl" class="text-black dark:text-white">imageUrl</label>
				 <input type="text" class="form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none dark:bg-darkModecolors-59 dark:text-darkModecolors-252" name="imageUrl" [(ngModel)]="form.imageUrl" required  #displayName="ngModel" />
				<div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
					<div *ngIf="displayName.errors.required">jobTitle is required</div>
					<div *ngIf="displayName.errors.minlength">jobTitle must be at least 1 characters</div>
					<div *ngIf="displayName.errors.maxlength">jobTitle must be at most 20 characters</div>
				</div>
			</div>

			<div class="form-group form-check col-span-2 text-center">			
						<div class="md:w-1/3"></div>
						<label class="md:w-2/3 block text-gray-500 font-bold dark:text-white" >
						  <input class="mr-2 leading-tight" type="checkbox" name="using2FA" [(ngModel)]="form.using2FA" #using2FA="ngModel"/>
						  <span class="text-sm" for="using2FA">
							Use Two Step Verification
						  </span>
						</label>
					
			</div>
			<div class="form-group col-span-2">
				<button class="btn btn-primary btn-block bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 ...">Sign Up</button>
			</div>
			<div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
				Signup failed!<br />{{ errorMessage }}
			</div>
		</div>
		</form>
		<div class="alert alert-success" *ngIf="isSuccessful">
			Your registration is successful!
			<div *ngIf="isUsing2FA">
				<p>Scan this QR code using Google Authenticator app on your phone to use it later to login</p>
				<img src="{{qrCodeImage}}" class="img-fluid" />
			</div>
		</div>
	</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>