/* 
  #E0E0E0

hr, .icon-bar {
    background-color: #00823E;
}
hr {
    width: 500px;
    height: 3px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
} */

.ie11Support {
    display: block;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.3em;
  }